<div>
  <h2 id="page-heading" data-cy="DataRoleHeading">
    <span jhiTranslate="dicoCarmignacApp.dataRole.home.title">Data Roles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dicoCarmignacApp.dataRole.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-data-role"
        [routerLink]="['/data-role/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dicoCarmignacApp.dataRole.home.createLabel"> Create a new Data Role </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dataRoles?.length === 0">
    <span jhiTranslate="dicoCarmignacApp.dataRole.home.notFound">No dataRoles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dataRoles && dataRoles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="dicoCarmignacApp.dataRole.idDataRole">Id Data Role</span></th>
          <th scope="col"><span jhiTranslate="dicoCarmignacApp.dataRole.name">Name</span></th>
          <th scope="col"><span jhiTranslate="dicoCarmignacApp.dataRole.description">Description</span></th>
          <th scope="col"><span jhiTranslate="dicoCarmignacApp.dataRole.updateDate">Update Date</span></th>
          <th scope="col"><span jhiTranslate="dicoCarmignacApp.dataRole.creationDate">Creation Date</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataRole of dataRoles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/data-role', dataRole.id, 'view']">{{ dataRole.id }}</a>
          </td>
          <td>{{ dataRole.idDataRole }}</td>
          <td>{{ dataRole.name }}</td>
          <td>{{ dataRole.description }}</td>
          <td>{{ dataRole.updateDate | formatMediumDate }}</td>
          <td>{{ dataRole.creationDate | formatMediumDate }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/data-role', dataRole.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/data-role', dataRole.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dataRole)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
