<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-source-priority-heading"
        data-cy="SourcePriorityCreateUpdateHeading"
        jhiTranslate="dicoCarmignacApp.sourcePriority.home.createOrEditLabel"
      >
        Create or edit a Source Priority
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dicoCarmignacApp.sourcePriority.idSourcePriority" for="field_idSourcePriority"
            >Id Source Priority</label
          >
          <input
            type="text"
            class="form-control"
            name="idSourcePriority"
            id="field_idSourcePriority"
            data-cy="idSourcePriority"
            formControlName="idSourcePriority"
          />
          <div
            *ngIf="
              editForm.get('idSourcePriority')!.invalid &&
              (editForm.get('idSourcePriority')!.dirty || editForm.get('idSourcePriority')!.touched)
            "
          ></div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dicoCarmignacApp.sourcePriority.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dicoCarmignacApp.sourcePriority.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dicoCarmignacApp.sourcePriority.updateDate" for="field_updateDate"
            >Update Date</label
          >
          <div class="input-group">
            <input
              id="field_updateDate"
              data-cy="updateDate"
              type="text"
              class="form-control"
              name="updateDate"
              ngbDatepicker
              #updateDateDp="ngbDatepicker"
              formControlName="updateDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="updateDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dicoCarmignacApp.sourcePriority.creationDate" for="field_creationDate"
            >Creation Date</label
          >
          <div class="input-group">
            <input
              id="field_creationDate"
              data-cy="creationDate"
              type="text"
              class="form-control"
              name="creationDate"
              ngbDatepicker
              #creationDateDp="ngbDatepicker"
              formControlName="creationDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
