<div>
  <h2 id="page-heading" data-cy="OrderedSourceHeading">
    <span jhiTranslate="dicoCarmignacApp.orderedSource.home.title">Ordered Sources</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dicoCarmignacApp.orderedSource.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ordered-source"
        [routerLink]="['/ordered-source/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dicoCarmignacApp.orderedSource.home.createLabel"> Create a new Ordered Source </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="orderedSources?.length === 0">
    <span jhiTranslate="dicoCarmignacApp.orderedSource.home.notFound">No orderedSources found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="orderedSources && orderedSources.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="dicoCarmignacApp.orderedSource.orderSource">Order Source</span></th>
          <th scope="col"><span jhiTranslate="dicoCarmignacApp.orderedSource.updateDate">Update Date</span></th>
          <th scope="col"><span jhiTranslate="dicoCarmignacApp.orderedSource.creationDate">Creation Date</span></th>
          <th scope="col"><span jhiTranslate="dicoCarmignacApp.orderedSource.type">Type</span></th>
          <th scope="col"><span jhiTranslate="dicoCarmignacApp.orderedSource.sourcePriority">Source Priority</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderedSource of orderedSources; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ordered-source', orderedSource.id, 'view']">{{ orderedSource.id }}</a>
          </td>
          <td>{{ orderedSource.orderSource }}</td>
          <td>{{ orderedSource.updateDate | formatMediumDate }}</td>
          <td>{{ orderedSource.creationDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="orderedSource.type">
              <a [routerLink]="['/source', orderedSource.type?.id, 'view']">{{ orderedSource.type?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="orderedSource.sourcePriority">
              <a [routerLink]="['/source-priority', orderedSource.sourcePriority?.id, 'view']">{{ orderedSource.sourcePriority?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ordered-source', orderedSource.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ordered-source', orderedSource.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(orderedSource)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
