<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="businessObject">
      <h2 data-cy="businessObjectDetailsHeading">
        <span jhiTranslate="dicoCarmignacApp.businessObject.detail.title">Business Object</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ businessObject.id }}</span>
        </dd>
        <dt><span jhiTranslate="dicoCarmignacApp.businessObject.idBo">Id Bo</span></dt>
        <dd>
          <span>{{ businessObject.idBo }}</span>
        </dd>
        <dt><span jhiTranslate="dicoCarmignacApp.businessObject.name">Name</span></dt>
        <dd>
          <span>{{ businessObject.name }}</span>
        </dd>
        <dt><span jhiTranslate="dicoCarmignacApp.businessObject.definition">Definition</span></dt>
        <dd>
          <span>{{ businessObject.definition }}</span>
        </dd>
        <dt><span jhiTranslate="dicoCarmignacApp.businessObject.updateDate">Update Date</span></dt>
        <dd>
          <span>{{ businessObject.updateDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="dicoCarmignacApp.businessObject.creationDate">Creation Date</span></dt>
        <dd>
          <span>{{ businessObject.creationDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="dicoCarmignacApp.businessObject.attributeList">Attribute List</span></dt>
        <dd>
          <div *ngIf="businessObject.attributeList">
            <a [routerLink]="['/attribute', businessObject.attributeList?.id, 'view']">{{ businessObject.attributeList?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/business-object', businessObject.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
