<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dataService">
      <h2 data-cy="dataServiceDetailsHeading"><span jhiTranslate="dicoCarmignacApp.dataService.detail.title">Data Service</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ dataService.id }}</span>
        </dd>
        <dt><span jhiTranslate="dicoCarmignacApp.dataService.idService">Id Service</span></dt>
        <dd>
          <span>{{ dataService.idService }}</span>
        </dd>
        <dt><span jhiTranslate="dicoCarmignacApp.dataService.name">Name</span></dt>
        <dd>
          <span>{{ dataService.name }}</span>
        </dd>
        <dt><span jhiTranslate="dicoCarmignacApp.dataService.description">Description</span></dt>
        <dd>
          <span>{{ dataService.description }}</span>
        </dd>
        <dt><span jhiTranslate="dicoCarmignacApp.dataService.updateDate">Update Date</span></dt>
        <dd>
          <span>{{ dataService.updateDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="dicoCarmignacApp.dataService.creationDate">Creation Date</span></dt>
        <dd>
          <span>{{ dataService.creationDate | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/data-service', dataService.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
